<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Index</title>
</head>
<body>
<h1>BIENVENIDO!</h1>
<%= link_to 'Person', people_path %>
<%= link_to 'Course', courses_path %>
<%= link_to 'Assign Student', course_students_path %>
</body>
</html>